---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import { getCollection } from "astro:content";
const config = {
  linkedinUrl: "https://www.linkedin.com/in/danielorodriguez",
  footerLinks: [
    { label: "About me", href: "/#about-me" },
    { label: "Projects", href: "/#projects" },
  ],
  navItems: [
    {
      title: "Experience",
      label: "experience",
      url: "/#experience",
    },
    {
      title: "Projects",
      label: "projects",
      url: "/#projects",
    },
    {
      title: "About me",
      label: "about-me",
      url: "/#about-me",
    },
    {
      title: "Contact",
      label: "contact",
      url: "mailto:miduga@gmail.com",
    },
  ],
};

const projects = await getCollection("projects");
const experience = await getCollection("experience");
---

<Layout
  title="Danielo Rodriguez"
  description="Full-stack developer"
  links={config.footerLinks}
  navItems={config.navItems}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero linkedinUrl={config.linkedinUrl} />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experience
      </TitleSection>
      <Experience {experience} />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects {projects} />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
