---
import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import ArrowRightIcon from "@/components/icons/ArrowRightIcon.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import { config } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";

const about = await getEntry("about", "about");
const projects = await getCollection("projects");
const experience = await getCollection("experience");
const { Content: Headline } = await about.render();
const info = about.data;
---

<Layout
  title="Danielo Rodriguez"
  description="Full-stack developer"
  footerLinks={config.footerLinks}
  navItems={config.navItems}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="home">
      <Hero
        linkedinUrl={info.linkedin}
        github={info.github}
        stackOverflow={info.stackOverflow}
        name={info.name}
        personalImageAlt={info.fullName}
      >
        <Headline />
      </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection>
          <Briefcase class="size-8" />
          Experience
        </TitleSection>
        <Experience experience={experience.slice(0, 5).reverse()} />
        <div
          class="group flex gap-2 items-center justify-center text-orange-500 dark:text-orange-200 transition"
        >
          <a href="/cv#employment">See full list</a>
          <ArrowRightIcon
            class="size-4 transition group-hover:animate-bounce-right"
          />
        </div>
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection>
          <CodeIcon class="size-7" />
          Projects
        </TitleSection>
        <Projects {projects} />
      </SectionContainer>

      <SectionContainer id="about-me">
        <TitleSection>
          <ProfileCheck class="size-8" />
          About me
        </TitleSection>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>

<script>
  import { flipAvatar } from "@/lib/flipAvatar";

  document.addEventListener("astro:before-swap", (ev) => {
    const originalAvatar = document.getElementById("avatar");
    const targetAvatar = ev.newDocument.getElementById("avatar");
    if (!originalAvatar || !targetAvatar) return;
    const animate = flipAvatar(originalAvatar, {
      duration: 500,
      delay: 0,
    });
    document.addEventListener("astro:after-swap", () => {
      animate(targetAvatar);
    });
  });
</script>
