---
import AboutMe from "@/components/AboutMe.astro";
import Experience from "@/components/Experience.astro";
import Hero from "@/components/Hero.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import TitleSection from "@/components/TitleSection.astro";
import Layout from "@/layouts/Layout.astro";
import type { links } from "@/links";
import { getCollection, getEntry } from "astro:content";
const config: links = {
  footerLinks: [
    { label: "Blog", href: "/blog" },
    { label: "CV", href: "/cv" },
    { label: "Projects", href: "/#projects" },
  ],
  navItems: [
    {
      title: "Experience",
      label: "experience",
      href: "/#experience",
    },
    {
      title: "Projects",
      label: "projects",
      href: "/#projects",
    },
    {
      title: "About me",
      label: "about-me",
      href: "/#about-me",
    },
  ],
};

const about = await getEntry("about", "about");
const projects = await getCollection("projects");
const experience = await getCollection("experience");
const { Content: Headline } = await about.render();
const info = about.data;
---

<Layout
  title="Danielo Rodriguez"
  description="Full-stack developer"
  footerLinks={config.footerLinks}
  navItems={config.navItems}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36" id="home">
      <Hero
        linkedinUrl={info.linkedin}
        github={info.github}
        name={info.name}
        personalImageAlt={info.fullName}
      >
        <Headline />
      </Hero>
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Experience
      </TitleSection>
      <Experience experience={experience.reverse()} />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects {projects} />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
