---
import Header from "@/components/Header.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { config } from "@/config";
import Layout from "@/layouts/Layout.astro";
const profileInfo = [
  { label: "Hobbies", value: "Mechanical Keyboards, 3D printing" },
  { label: "Languages", value: "Spanish, English" },
  { label: "Location", value: "Spain" },
  { label: "Timezone", value: "UTC+1" },
];
---

<Layout
  title="Danielo Rodriguez"
  description="Full-stack developer"
  footerLinks={config.footerLinks}
  navItems={config.navItems}
>
  <Header navItems={config.navItems} slot="header" />
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36 flex gap-8">
      <img
        class="rounded-full shadow-lg size-32 lg:size-48"
        src="/danielo-1.webp"
        alt="danielo"
        id="avatar"
      />
      <ul>
        {
          profileInfo.map(({ label, value }) => (
            <li class="flex flex-col md:flex-row gap-2 info">
              <span class="strong">
                <strong>{label}:</strong>
              </span>
              <span>{value}</span>
            </li>
          ))
        }
      </ul>
    </SectionContainer>
  </main>
</Layout>

<script>
  import { animate, stagger } from "motion";
  document.addEventListener("astro:page-load", () => {
    const elements = document.querySelectorAll<HTMLElement>("li.info");
    // I'm setting the opacity with JS to ensure visibility in case any problem prevents the execution of javascript
    elements.forEach((li) => {
      li.style.opacity = "0";
    });
    if (elements.length === 0) return;
    setTimeout(() => {
      animate(
        elements,
        { x: [-100, 0], opacity: 1 },
        {
          duration: 0.8,
          delay: stagger(0.2),
          type: "spring",
        }
      );
    }, 600);
  });
</script>
